.filters ul{
    justify-content: center;
}

.menu{
    display: flex;
    margin-bottom: 50px;
    font-family:inherit ;
   
    color: $base-color;

    &.title{
        display:inline
    }

    & li:hover,
    & li:focus{
        color:white;
        background: #2196F3;

    }
}

ul.menu a {
    display:inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: $base-color;
    text-decoration: none;
    transition: background-color 250ms cubic-bezie;

    &:hover,
    &:focus{
        color:$white-color;
        background-color: $accent-color;
    }

}
li.title{
    margin-right:8px
}

.all{
   @extend %filters;
}
.veb{
    @extend %filters;
}
.options{
    @extend %filters;
    
}
.design{
    @extend %filters;

}
.marketing{
 
    @extend %filters;
}