
footer{

    background: #2F303A;
}

.footer-logo{

    font-family:'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    color:white;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color:$accent-color;
    }
}




.social{
    display: flex;
    margin-top: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    &:hover,
    &:focus{
        color:$accent-color;
    }
}
.site:hover,
.site:focus {
  background-color: #2196F3;
}
.social-link.instagram{
    display: inline-block;
    width:44px;
    height: 44px;
    background-image: url(../img/instagram.svg);
    background-color:rgba(255, 255, 255, 0.1);;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    &:hover,
    &:focus{
        color:$accent-color;
    }
}
.social-link.twitter{
    display: inline-block;
    width:44px;
    height: 44px;
    background-image: url(../img/twitter.svg);
    background-color:rgba(255, 255, 255, 0.1);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    &:hover,
    &:focus{
        color:$accent-color;
    }
}
.social-link.facebook{
    display: inline-block;
    width:44px;
    height: 44px;
    background-image: url(../img/fb.svg);
    background-color:rgba(255, 255, 255, 0.1);;
    background-size: 10px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    &:hover,
    &:focus{
        color:$accent-color;
    }
}
.social-link.linkedin{
    display: inline-block;
    width:44px;
    height: 44px;
    background-image: url(../img/linkedin.svg);
    background-color:rgba(255, 255, 255, 0.1);;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    &:hover,
    &:focus{
        color:$accent-color;
    }
}

.social li+li{
    margin-left: 10px;
}

.footer{
    margin-top:72px;
    margin-right:93px
}
.button.footer{
    margin-right: 0;
}
.button.footer{
    position: relative;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 62px;
    font-family:$base-font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height:1.88;
    letter-spacing: 0.06em;
    color:$white-color;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    
    &::after{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 13px;
    right: 28px;
   
    background-repeat: no-repeat;
    background-image: url("../img/icon.svg");
    background-size: contain;
    align-items: flex-end;
    }

}

