.section-team{
    padding-top: 94px;
    padding-bottom: 94px;
    
    background-color: $background;
}
.section-title {
    
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px ;

    color: $base-color;
}
.team ul {
    padding-left: 15px;
    padding-right: 15px;

    &.caption {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $caption-color;
    }
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
    margin: -30px;
    justify-content: center;
}
.flex-team {
    text-align: center;
    width: 270px;
    margin: 30px;
    margin-left: 0px;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &.name {
        margin-top: 30px;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
    
        color: $base-color;
    } 
}
.flex-icon{
    display: flex;
    padding-left: 32px;
    padding-right: 32px;

}
.pic>.icon:hover,
.pic>.icon:focus{
    fill:$white-color;
    background-color:$accent-color;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    width:20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    fill:$icon-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:last-child{
        margin-right: 0px;
    }
    
}

.social-link{
    content: "";
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
    margin-bottom: 24px;
    width: 44px;
    height: 44px;
    
    border-radius: 50%;
    background-color: $white-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus{
    background-color: $accent-color;
    }
    &li+li{
        margin-left:10px;
    }
  
}