%contact{
    position: relative;
     margin-right: 10px;
    vertical-align: middle;
}

%filters{
    background: #F5F4FA;
    border-radius: 4px;
}
%site{

}
%footer{
    display: inline-block;
    width:44px;
    height: 44px;
   
    background-color:rgba(255, 255, 255, 0.1);;
   
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}