$base-color:#212121;
$accent-color:#2196F3;
$white-color:#FFFFFF;
$contact-footer-color:rgba(255, 255, 255, 0.6);
$background-grey: #F5F4FA;
$caption-color: #757575;
$background:#F5F4FA;
$icon-color: #AFB1B8;

/*Шрифты*/
$base-font:'Roboto', sans-serif;
$logo-font:'Railway',sans-serif;

